<br><br><br>
<div class="baslik1"><h2>İletişim</h2></div>
    <div class="content-icon">
        <img src="https://raw.githubusercontent.com/burakyalim/mypictures/master/profile.jpg" alt="" class="yuvarla"/>
        <p class="meslek">Elektrik - Elektronik Mühendisi</p>
        <ul>
            <li><a href="#"><i id="twit" class="fab fa-twitter"></i></a></li>
            <li><a href="https://github.com/burakyalim" target="_blank"><i id="git" class="fab fa-github"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCHlsesPEoIQUTb9Q5yCEoVA" target="_blank"><i id="ytube" class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.google.com" target="_blank"><i id="linkin" class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
