<br><br><br>    
<div class="baslik1"><h2>Angular</h2></div><br>
<div class="post">
    <h2>Todo APP</h2>
    <h5>Tarih: 31/01/2023</h5>
    <img src="https://raw.githubusercontent.com/burakyalim/mypictures/master/1.png" class="img" style="height:350px; width:550px;"><br>
    <p>Girilen veriyi HTML den TS dosyasına aktarmak için ngModel özelliği kullanıldı. Butona basıldığında veri bir dizinin içine eklenildi. Input özelliği kullanılarak parent componentten child componente aktarıldı. *ngFor özelliği kullanarak veriler ve index numaraları gösterildi. Her satır için  buton eklendi, basıldığında splice özelliği kullanılarak indexten 1 eleman silindi.
    </p>
    <a href="https://github.com/burakyalim/todoapp" target="_blank">Kodları incele</a>
</div>
