<br><br><br>    
<div class="baslik1"><h2>Angular</h2></div><br>
<div class="post">
    <h2>Todo APP</h2>
    <h5>Tarih: 31/01/2023</h5>
    <img src="https://raw.githubusercontent.com/burakyalim/mypictures/master/todoapp.jpg" class="img"><br>
    <p>Girilen veriyi HTML den TS dosyasına aktarmak için ngModel özelliği kullandım. Butona basıldığında veri bir dizinin içine ekledim. Input özelliği kullanılarak parent componentten child componente aktardım. *ngFor özelliği kullanarak veriler ve index numaraları için table oluşturdum. Her satır için buton ekledim, basıldığında splice özelliği kullanılarak indexten 1 eleman sildirdim.
    </p>
    <a href="https://github.com/burakyalim/todoapp" target="_blank">Kodları incele</a>
    <a href="https://burakyalim.github.io/todoapp/" target="_blank">Uygulamaya Git</a>
</div>
<!-- 
try -->
